<!DOCTYPE html>
<head>
    <title>Libraray Management System</title>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
      
</head>
<body>
   <div id="i1" class="ui secondary pointing menu">
  <a class="item active">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>
<!--<div class="ui segment">-->
<!--  <p></p>-->
<!--</div>-->
<!--<ul class="slideshow">-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--      <li></li>-->
<!--    </ul>-->
<div id="landing-header">
 		<h1>Welcome to Library Management System!</h1>
		<a href="/genre" class="btn btn-lg btn-success">Adios!</a>
    </div>
    
    
</body>